.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  padding: 20px;
  color: whitesmoke;
}
app-header {
  width: 100%;
  height: 100%; /* Take full height inside container */
}