<div class="host-container">
  <div class="header-section">
    <ng-container #headerContainer></ng-container>
  </div>
  
  <div class="main-content">
    <div class="content-section">
      <div class="product-form-section">
        <ng-container #productFormContainer></ng-container>
      </div>
      
      <div class="product-listing-section">
        <ng-container #productListingContainer></ng-container>
      </div>
    </div>
  </div>
  
  <div class="footer-section">
    <ng-container #footerContainer></ng-container>
  </div>
</div>